---
import TypeScriptPostLayout from "src/layouts/TypeScriptPostLayout.astro";
import { getCollection } from "astro:content";
import { format } from "date-fns";
import Heading2 from "@components/blog/Heading2.astro";
import Heading3 from "@components/blog/Heading3.astro";
import CodeBlock from "@components/blog/CodeBlock.astro";

export async function getStaticPaths() {
  const typescriptEntries = await getCollection("typescript");
  return typescriptEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const {
  entry,
  entry: {
    data: { title, publishedAt },
  },
} = Astro.props;
const { Content } = await entry.render();
---

<TypeScriptPostLayout title={title}>
  <div class="pb-12 border-b border-slate-200 border-solid">
    <ul class="flex text-slate-500">
      <li>
        <a class="tracking-wide text-slate-500 font-medium underline" href="/"
          >Home</a
        >
        <span class="mx-1">{">"}</span>
      </li>
      <li>
        <a
          class="tracking-wide text-slate-500 font-medium underline"
          href="/typescript">TypeScript</a
        >
        <span class="mx-1">{">"}</span>
      </li>
      <li>
        <span>{title}</span>
      </li>
    </ul>
    <h1 class="text-4xl font-bold tracking-wide text-slate-600 mt-6">
      {title}
    </h1>
    <p class="mt-4 text-slate-500">{format(publishedAt, "yyyy/MM/dd")}</p>
  </div>

  <div
    class="pt-10 text-lg tracking-wide text-slate-600 grid gap-y-8 content-wrap"
  >
    <Content components={{ h2: Heading2, h3: Heading3 }} />
  </div>
</TypeScriptPostLayout>
