---
import Social from "./Social.astro";
---

<footer
  class="mt-auto border-t border-slate-200 p-2 text-center bg-slate-500 text-white text-xs font-600 tracking-wide"
>
  <p>@ PROGRESS</p>
</footer>
