---
import Navigation from "./Navigation.astro";
---

<header
  class="sticky top-0 z-40 w-full backdrop-blur transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] supports-backdrop-blur:bg-white/60 dark:bg-transparent p-6 flex justify-between"
>
  <a href="/" class="font-semibold text-slate-500">Progress</a>
  <Navigation />
</header>
