---
const { name, url } = Astro.props;
---

<a
  href={url}
  class="block p-10 bg-white rounded-xl border-2 border-slate-300 hover:border-[#3178c6] aspect-square relative text-slate-500 hover:text-[#3178c6] duration-300"
>
  <div class="-translate-y-2">
    <slot />
  </div>
  <div
    class="absolute bottom-4 left-0 text-center w-full font-semibold tracking-wide font-['Avenir_Next']"
  >
    {name}
  </div>
</a>
